- shirts = [ { :name => 'Maple & Oak & Cherry & Walnut', :path => 'maple-oak-cherry-walnut-shirt-unisex', :image => 'https://cdn.shopify.com/s/files/1/0007/9196/9858/products/mockup-d69fc7cb_940x.png?v=1520038965', :term => 'maple' },
  { :name => 'Roubo Plate 11 Poster', :path => 'roubo-plate-11-poster', :image => 'https://cdn.shopify.com/s/files/1/0007/9196/9858/products/mockup-dac96789_940x.png?v=1520123782', :term => 'poster' },
  { :name => 'Benchplane Patent Shirt', :path => 'benchplane-patent', :image => 'https://cdn.shopify.com/s/files/1/0007/9196/9858/products/mockup-1e57c1cc_940x.png?v=1520017302', :term => 'plane-patent' } ]

div.p3.walnut
  div.pbhalf
    p.c-txt1.mb2 Shirts & More for Woodworkers!
  ul
    - shirts.each do |shirt|
      li.p2.mb3.c-fill1
        figure.center
          a(href="https://shop.forwoodworkers.com/products/#{shirt[:path]}?utm_source=sfw&utm_medium=aside&utm_campaign=first&utm_term=#{shirt[:term]}&utm_content=image")
            img(src=shirt[:image])
          figcaption
            a.t1.bpm-t2.medium(href="https://shop.forwoodworkers.com/products/#{shirt[:path]}?utm_source=sfw&utm_medium=aside&utm_campaign=first&utm_term=#{shirt[:term]}&utm_content=link")= shirt[:name]
        img.mt1(src="https://cdn.shopify.com/s/files/1/0007/9196/9858/files/logo_f783dea5-6cee-4075-a231-199f22dd457f_720x.png?v=1520018228")
