p.pt3.px3.t4.center.mw-copy.mxauto Join thousands of woodworkers who have finally gotten over the hump of learning Sketchup to design and layout their next woodworking project!
div.flex.pl3.pt3
  div.up1.bps-up2.bpm-up3.pr3
    ul
      li.p2.mb3.c-fill1.shadow1
        figure.center
          a(href="/tutorials/getting-started-part-1.html")
            img(src="/images/1-thumb.jpg")
          figcaption.mt1
            a(href="/tutorials/getting-started-part-1.html") Getting Started, Part 1
      li.p2.mb3.c-fill1.shadow1
        figure.center
          a(href="/tutorials/curves-moulding-outliner.html")
            img(src="/images/4-thumb.jpg")
          figcaption.mt1
            a(href="/tutorials/curves-moulding-outliner.html") Curves, Moulding and the Outliner
      li.p2.mb3.c-fill1.shadow1
        figure.center
          a(href="/tutorials/dimensions-printing.html")
            img(src="/images/7-thumb.jpg")
          figcaption.mt1
            a(href="/tutorials/dimensions-printing.html") Dimensions and Printing

  div.up1.bps-up2.bpm-up3.pr3
    ul
      li.p2.mb3.c-fill1.shadow1
        figure.center
          a(href="/tutorials/getting-started-part-2.html")
            img(src="/images/2-thumb.jpg")
          figcaption.mt1
            a(href="/tutorials/getting-started-part-2.html") Getting Started, Part 2
      li.p2.mb3.c-fill1.shadow1
        figure.center
          a(href="/tutorials/moulding-revisited.html")
            img(src="/images/5-thumb.jpg")
          figcaption.mt1
            a(href="/tutorials/moulding-revisited.html") Moulding Revisited

  div.up1.bps-up2.bpm-up3.pr3
    ul
      li.p2.mb3.c-fill1.shadow1
        figure.center
          a(href="/tutorials/dados-rabbets-grooves.html")
            img(src="/images/3-thumb.jpg")
          figcaption.mt1
            a(href="/tutorials/dados-rabbets-grooves.html") Dados, Rabbets and Grooves
      li.p2.mb3.c-fill1.shadow1
        figure.center
          a(href="/tutorials/joints.html")
            img(src="/images/6-thumb.jpg")
          figcaption.mt1
            a(href="/tutorials/joints.html") Joints, Joints, Joints
