div.p3
  div.mw-copy
    h1.mb2.f-title.t8= @title.split('|').first
    p.mb1 In this tutorial we rebuild our bookshelf with the shelves dadoed into the sides. We also rabbet the back on. I introduce the ‘guides’ feature of the tape measure as well as several shortcuts for navigating around your model, more fun with groups and different ways to select exactly what you want.
  p.mb1 Leave comments over on <a href="https://youtube.com/watch?v=pEcqfYVnyO0" class="underline">YouTube</a>.
  .video.mt3
    iframe(src="//www.youtube.com/embed/pEcqfYVnyO0" frameborder="0" allowfullscreen)
