div.p3
  div.mw-copy
    h1.mb2.f-title.t8= @title.split('|').first
    p.mb1 In this tutorial we see how to add dimensions to our drawings, how to set them up to print and add scenes so we can save “views” of our model for later.
    p.mb1 Leave comments over on <a href="https://youtube.com/watch?v=89SqAnNeH9g" class="underline">YouTube</a>.
  .video.mt3
    iframe(src="//www.youtube.com/embed/89SqAnNeH9g" frameborder="0" allowfullscreen)
