div.p3
  div.mw-copy
    h1.mb2.f-title.t8= @title.split('|').first
    p.mb1 The second half of our Getting Started tutorial. In this tutorial we build a bookshelf using the tools we already learned, plus the tape measure and move/copy tool. We also start grouping our object.
    p.mb1
      strong> Note
      | As Dave points out in <a href="http://lumberjocks.com/topics/6287" target="_blank">this thread</a> you actually use Ctrl to make a copy on a PC. I say “Alt” in the video, which is true for the Mac, and I thought Windows was the same. Sorry!
    p.mb1 Leave comments over on <a href="https://youtube.com/watch?v=T9W6HdTPVWA" class="underline">YouTube</a>.
  .video.mt3
    iframe(src="//www.youtube.com/embed/T9W6HdTPVWA" frameborder="0" allowfullscreen)
