div.p3
  div.mw-copy
    h1.mb2.f-title.t8= @title.split('|').first
    p.mb1 I wanted to show a couple more examples of moulding—adding base moulding and an example of cutting away from a larger piece to form a decorative edge.
    p.mb1 Leave comments over on <a href="https://youtube.com/watch?v=dBk8MsWqQBw" class="underline">YouTube</a>.
  .video.mt3
    iframe(src="//www.youtube.com/embed/dBk8MsWqQBw" frameborder="0" allowfullscreen)
